ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
#ping true;
authorative;
log-facility local7;

allow booting;

## Default netboot filename.
### note: start for i386 or amd64
filename "debian-installer/pxelinux.0";

subnet 192.168.1.0 netmask 255.255.255.0 {
        range 192.168.1.106 192.168.1.200;
        option subnet-mask 255.255.255.0;
        option broadcast-address 192.168.1.255;
        option interface-mtu 1400;
        get-lease-hostnames true;
        use-host-decl-names true;
        default-lease-time 21600;
        max-lease-time 21600;
        next-server 192.168.1.69;
        filename "pxelinux.0";
}

group {
        next-server 192.168.1.69;
        host tftpclient {
                filename "pxelinux.0";
        }
}

host arenaclient-master-extern {
        hardware ethernet 00:21:29:a1:c3:a0;
        fixed-address 192.168.0.99;
        option routers 192.168.0.1;
        option interface-mtu 1400;
} # arenaclient-master-extern

host arenaclient-master-intern {
        hardware ethernet 00:21:29:a1:c3:a1;
        fixed-address 192.168.1.99;
        option interface-mtu 1400;
} # arenaclient-master-intern

host arenaclient {
        hardware ethernet 00:21:29:a1:c3:a2;
        fixed-address 192.168.1.100;
        option interface-mtu 1400;
} # arenaclient

{% for i in aiarenaclients %}
host arenaclient_{{ i.id }} {
        hardware ethernet {{ i.mac }};
        fixed-address {{ i.ip }};
        option interface-mtu 1400;
} # arenaclient_{{ i.id }}

{% endfor %}
